body.woocommerce-account{
	.page-container-sn.user-logged-out{
		max-width: 1140px !important;
	}

	h1.page-title{
		display: none;
	}

	#customer_login{
		display: flex;
		flex-wrap: wrap;

		.col-1,.col-2{
			width:50%;
			padding:15px 25px;
		}

		@include breakpoint('tablet'){
			.col-1,.col-2{
				width:100%;
				padding:15px 0; 
			}
		}

		h2{
			font-size: 24px;
		}

		button.woocommerce-button{
			margin:15px 0;
		}
	}

	.woocommerce-form{
		padding:0;
		border:0;
	}
}

.woocommerce-LostPassword{
	padding-top: 15px;
	text-align: center;
	a{
		font-weight: 600;
		text-decoration: none;
	}
}

.lost_reset_password{
	p.woocommerce-form-row{
		width: 100% !important;
	}
	input[type="password"],input[type="email"]{
		width:100%;

	}

	.woocommerce-form-row--first{
		margin:15px 0 !important;
	}

}
.woocommerce .woocommerce-customer-details address{
	background: #fff;
	padding:30px;
}
.woocommerce-column--billing-address{
	margin-bottom: 30px;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	background: $color-primary;
	border-radius: $radius;
	padding:30px;
	width: calc(30% - 30px);
	margin-right: 30px;

	@include breakpoint('tablet'){
		width:100%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	ul{
		list-style-type: none;
		padding:0;
		margin:0;

		li{
			padding-bottom: 15px;
			a{
				color: #fff;
				text-decoration: none;
				font-weight: 600;
				position: relative;

				&::before{
					content:url('../../uploads/angle-right-white.svg');
					margin-right: 10px;
				}

			}

		}
		li:last-child{
			padding-bottom: 0;
		}
	}
}

.woocommerce-MyAccount-content{
	a{
		color: $color-primary;
		text-decoration: none;
		font-weight: 600;
	}

	h2,h3,legend{
		font-size: 21px;
		padding: 15px 0;
		font-weight: 700;
		font-family: $main-font;  
	}
}
.woocommerce table.my_account_orders .button{
	margin:5px auto !important;
}

/* 
** Wishlist page
 */
body.tinvwl-theme-style{
	h1.page-title{
		display: none;
	}

	table{
		td.product-action{
			a.button,button{
				white-space: nowrap;
				color: #fff;

				span{
					color: #fff !important;
				}
			}
		}

		button[name="tinvwl-action-product_apply"]{

			span.tinvwl-mobile{
				display: none !important;
			}
		}

		.tinvwl-to-right{
			button{
				max-width: 300px;
			}
		}
		button[name="tinvwl-remove"]{
			background: #fff !important; 
		}
	}


}

.login-form-col-sn,.registration-form-col-sn{
	border-radius: 45px 0 45px 0;
}
.woocommerce form .form-row .woocommerce-form-register__submit{
	background: $gradient-light;
}
.account-adv-item{
	margin-bottom: 5px;
	.icon-account-adv{
		display: flex;
		align-items: center;
		width:25px;
	}

	.label-account-adv{
		p{
			font-size: 14px;
		}
	}
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
	margin:0;
	margin-top: 2em; 
}
.woocommerce-privacy-policy-text{
	padding:15px 0;
	font-size: 14px;
}