.post-thumbnail-single{
	height: 300px;
	position: relative;
	border-radius: $radius;
	overflow: hidden;
	img{
		object-fit: cover;
		object-position: center top;
		height: 100%;
		width:100%;
	}

	&::after{
		content:'';
		position: absolute; 
		top:0;
		left:0;
		bottom:0;
		right:0;
		background: rgba(0,0,0,0.3);
		opacity: 0;
		transition: 0.5s;
	}

	&:hover::after{
		opacity: 1;
	}
}  

.single-post-content{
	padding-top: 25px;
	a{
		text-decoration: none;
	}
	h2{
		font-size: 21px;
		margin-bottom: 15px;
	}

	.post-excerpt-sn{
		margin-bottom: 15px;
	}
	.more-link-sn-wrapper{
		p{
			color: $color-primary;
			font-weight: 600;
		}
	}
}

body.archive.woocommerce{
	h1.page-title{
		display: none !important;
	}
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price{
	color: $color-primary ;
	font-size: 21px;
	font-weight: 700;

	bdi{
		color: $color-primary ;

		span{
			color: $color-primary ;

		}

	}

	del{
		font-size: 16px;
		color: $dark-grey;

		bdi,span{
			color: $dark-grey;
		}
	}
}

.berocket_ajax_group_filter_title{
	padding-bottom: 25px;
}

.bapf_head{
	
	padding-bottom: 15px;

	h3{
		font-size: 16px !important;
	}
}

.irs--big .irs-handle{
	width:18px;
	height: 18px;
	background: $color-primary !important;
	box-shadow: none;
	border:0;
	cursor: pointer;
	border-radius: 18px;
	top:27px;
}

.irs--big .irs-bar{
	height: 8px;
	box-shadow: none;
	border:0;
	background: #8ED2DE;
}
.irs--big .irs-line{
	height: 8px;
}
.irs--big .irs-from, .irs--big .irs-single, .irs--big .irs-to{
	background: $text-color;
}
.shop-sidebar-sn{
	h2,h3{
		font-size: 20px;

	}
	h2{
		padding-bottom: 10px;
	}

	button{
		background: transparent;
		padding:0;
	}

	.card{
		border:0;
		background: transparent;
		.card-header{
			border:0;
			background: transparent;
			padding-left: 0;
			h4{
				display: flex;
				justify-content: space-between;
			}
		}	

		.card-body{
			padding-left: 0;
		}
	}
	
}
#accordion-p-categories{
	h4{
		
		a{
			font-size: 16px;
			font-weight: 600;
			text-decoration: none;
		}
	}
}
.accordion-item-arow{
	transition: 0.3s;
}
.item-expanded{
	transform:rotate(180deg);
}

.main-categories-buttons{
	padding-bottom: 70px;

	@include breakpoint('tablet'){
		padding-bottom: 20px;
	}

	ul{
		list-style-type: none; 
		padding:0;
		margin:0;
		display: flex;
		flex-wrap: wrap;

		li{
			margin-right: 20px;
			margin-bottom: 15px;

			a{
				text-decoration: none;
				padding:12px 20px;
				border-radius: 30px;
				background: #F7F7F7;
				color:$text-color;
				font-size: 14px;
				font-weight: 600;
				display: block;
			}
		}

		li.current a{
			background: $gradient-light;
			color: #fff;  
		}
	}
}

/* 
** Pagination 
*/

.woocommerce nav.woocommerce-pagination{

	ul.page-numbers{
		border:0;
		li{
			border:0;
			margin:3px;

			a,span{
				@include el-center;
				width:36px;
				height: 36px;
				border:1px solid $color-primary;
				border-radius: $radius;
				padding:0;
				margin:0;
				font-size: 14px;
				font-weight: 600;
				font-family: $main-font;
				transition: background 0.4s linear;

				&:hover{
					background: $color-primary;
					color: $text-color;     
				}
			}

			span.current{
				background: $gradient-dark;
				color: #fff;
			}
		}
	}
}

.product-tag-header{
	padding-top: 60px;
	padding-bottom: 60px; 

}