body.woocommerce-checkout{
	.page-title{
		display: none;
	}
	 main#primary{
	 	background: $light-grey;
	}
	
}
.woocommerce .col2-set, .woocommerce-page .col2-set{
	.col-1 , .col-2{
		width:100%;
	}
}
.woocommerce-billing-fields__field-wrapper{
	.form-row{
		margin-bottom: 10px !important;
	}
}
.woocommerce-billing-fields{
	h3{
		padding-bottom: 25px;
	}
}
#order_review_heading{
	padding-bottom: 25px;
}
#ship-to-different-address{
	margin-top: 25px;
}

.woocommerce-checkout{
	.woocommerce-additional-fields{
		display: none; 
	}	
}
.required-fields-info-checkout{
	padding-top: 10px;
	padding-bottom: 20px;

	img{
		margin-top: -4px;
	}
}

.shipping-method-wrapper-sn{
	margin-top: 40px;

	.accordion-item{
		border:0 !important;
		background: transparent;
	}

	button.accordion-button.collapsed{
		color: #9E9E9E;
	}

	button.accordion-button{
		padding:0;
		color: $text-color;
		box-shadow: none !important;
		background: transparent;
		border:0 !important;
		font-size: 21px;
		font-weight: 700;
	}

	.accordion-body{
		padding:0;
		padding-top: 40px;
	}
}