body.woocommerce-checkout{
	.page-title{
		display: none;
	}
	 main#primary{
	 	background: $light-grey;
	}
	#shipping-methods-sn{
		color:#fff;
		font-size: 0;

		ul{
			font-size: 16px;
		}
	}
	
}
.woocommerce .col2-set, .woocommerce-page .col2-set{
	.col-1 , .col-2{
		width:100%;
	}
}
.woocommerce-billing-fields__field-wrapper{
	.form-row{
		margin-bottom: 10px !important;
	}
}
.woocommerce-billing-fields{
	h3{
		padding-bottom: 25px;
	}
}
#order_review_heading{
	padding-bottom: 25px;
}
#ship-to-different-address{
	margin-top: 25px;
}

.woocommerce-checkout{
	.woocommerce-additional-fields{
		display: none; 
	}	
}
.required-fields-info-checkout{
	padding-top: 10px;
	padding-bottom: 20px;

	img{
		margin-top: -4px;
	}
}

.shipping-method-wrapper-sn , .payment-method-wrapper-sn{ 
	margin-top: 40px;

	.accordion-item{
		border:0 !important;
		background: transparent;
	}

	button.accordion-button.collapsed{ 
		color: #9E9E9E; 
	}

	button.accordion-button{
		padding:0;
		color: $text-color;
		box-shadow: none !important;
		background: transparent;
		border:0 !important;
		font-size: 21px;
		font-weight: 700;
	}

	.accordion-body{
		padding:0;
		padding-top: 40px;
	}
}
.woocommerce ul#shipping_method {
	li{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;
		label{
			width:calc(100% - 20px);
			display: flex;
			align-items: center;
			img{
				width:35px !important; 
				margin:0 20px;
			}

			span.amount{
				margin-left: auto;
				color: #626262;
				font-size: 18px;

				span{
					color: #626262;					
				}
			}
		}

		div{
			width:50%;
			margin-top: 25px;
			button{
				max-width: 260px;
			}

		}	
		div#selected-paczkomat{
			text-align: right;
		}	
	}
	
}

.woocommerce ul.payment_methods{
	list-style: none;
	padding:0;
	margin:0;
	li{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;
		label{
			width:calc(100% - 20px);
			display: flex;
			align-items: center;
			img{
				width:35px !important; 
				margin:0 20px;
			}

			span.amount{
				margin-left: auto;
				color: #626262;
				font-size: 18px;

				span{
					color: #626262;					
				}
			}
		}

		div{
			width:50%;
			margin-top: 25px;
			button{
				max-width: 260px;
			}

		}	
		div#selected-paczkomat{
			text-align: right;
		}	
	}
}