footer.site-footer{
	padding-top: 40px;
	background: #fff;

	a:hover{
		color: $link-hover;
	}
}  

section.widget{
	margin-bottom: 25px;

	ul,ol{
		padding:0;
		margin:0;
		list-style-type: none;

		li{
			padding-bottom: 10px;

			a{
				text-decoration: none;
			}
		}
	}
}
h2.widget-title{
	font-size: 17px;
	padding-bottom: 25px;
}

.backToTopBtn {
  padding:0 !important;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  height: 40px;
  width: 40px;
  font-size: 16px;
  border: none;
  color: #cccccc;
  border-radius: 100%;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: $box-shadow;

  // &::after{
  // 	content:'Do góry';
  // 	position: absolute;
  // 	bottom:-15px;
  // 	color: $text-color;
  // 	font-size: 14px;
  // 	left:50%;
  // 	transform: translateX(-50%);
  // 	white-space: nowrap;
  // }

  svg{
  	position: absolute;
  	top:50%;
  	left:50%;
  	transform: translate(-50% , -50%);

  	path{
  		fill:#fff;
  	}
  }
}
.backToTopBtn:not(:hover) {
  background: $color-primary;
}
.backToTopBtn:hover {
  background: $color-primary;
}
.backToTopBtn.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.backToTopBtn:not(.active) {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}