input[type="text"] , input[type="email"] , input[type="tel"],input[type="password"],input[type="text"]{
	height: 40px;
	border: 1px solid #B1B1B1;
	border-radius: $radius;
	padding:0 15px;
	outline:none !important;
} 
textarea{
	height: 160px;
	border: 1px solid #B1B1B1;
	border-radius: $radius;
	padding:15px;
	outline:none !important;
}
label{
	display: block;
}
.comment-form-cookies-consent{
	display: flex;

	label{
		margin-left: 10px;
	}
}

.select2-container .select2-selection--single{
    border: 1px solid #B1B1B1;
	border-radius: $radius;
	padding:0 15px;
	outline:none !important;
	height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 40px;
    line-height: 40px;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} 