input[type="text"] , input[type="email"] , input[type="tel"],input[type="password"],input[type="text"]{
	height: 40px;
	border: 1px solid #B1B1B1;
	border-radius: $radius;
	padding:0 15px;
	outline:none !important;
} 
textarea{
	height: 160px;
	border: 1px solid #B1B1B1;
	border-radius: $radius;
	padding:15px;
	outline:none !important;
}
label{
	display: block;
}
.comment-form-cookies-consent{
	display: flex;

	label{
		margin-left: 10px;
	}
}

.select2-container .select2-selection--single{
    border: 1px solid #B1B1B1;
	border-radius: $radius;
	padding:0 15px;
	outline:none !important;
	height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 40px;
    line-height: 40px;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} 

div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li input+label, div.wpforms-container-full .wpforms-field.wpforms-field-radio ul li input+label, div.wpforms-container-full .wpforms-field.wpforms-field-payment-checkbox ul li input+label, div.wpforms-container-full .wpforms-field.wpforms-field-payment-multiple ul li input+label, div.wpforms-container-full .wpforms-field.wpforms-field-gdpr-checkbox ul li input+label{
	color:#fff;
	font-size: 14px;
}

.wpforms-submit{
	  background: $gradient-dark  !important;
	  color: #fff !important;
	  padding:10px 25px !important;
	   border-radius: 30px !important;
	   font-family: $main-font !important;
	   font-weight: 600 !important;
	   outline: 0 !important;
	   border:0 !important;
	   width:100% !important;
	   font-size: 16px !important;

	   &::after{
	   	display: none !important;
	   }

	   &:hover{
			background: #fff !important;
			color: $text-color !important;
			box-shadow: inset 0px 0px 0px 2px rgba(26, 32, 46, 1) !important;
		}

}
.wpforms-container .wpforms-field, .wp-core-ui div.wpforms-container .wpforms-field{
	padding:5px 0 !important;
}

.wpforms-form{
	&  input:not([type="submit"]), 
	& textarea, 
	& select {
	    border: none !important;
	    border-radius: $radius !important;

	}
}