.hero-section-home{
	
	.hero-image{
		height:490px;
		display: flex;
		align-items: center;
		padding:60px 80px;
		border-radius: 100px 0 100px 0;
		position: relative;
		z-index: 2;

		.hero-text-area{
			max-width: 500px;
			h1{
				margin-bottom: 15px; 
			}
			p{
				margin-bottom: 25px; 
			}
		} 
	}	

	.hero-shadow{
		background: $gradient-light;
		height:320px;
		width:94%;
		position: absolute;
		right:-15px;
		bottom:-15px;
		border-radius: 0 0 110px 0;
	}

	
}

.recent-products-sn-wrapper{
	position: relative;

	.rec-prev{
		position: absolute;
		top:50%;
		transform: transtaleY(-50%);
		left:-60px;
	}
	.rec-next{
		position: absolute;
		top:50%;
		transform: transtaleY(-50%);
		right:-60px;
	}
}