html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

.container-lg{
  max-width: 1440px !important;
}
.pos-relative{
  position: relative;
}

h1,h2,h3,h4,h5,h6,p,input,li,button,span,a,strong,table,th,td{
  font-family: $main-font;
  padding:0;
  margin:0;
}
h1,h2 , h3 ,h4{  
  font-weight: 600; 
}


h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 22px;
}
  

