header#masthead{
	.header-top-bar{
		background: $color-primary;
		padding:12px 0;

		.contact-item-sn{
			p,a{
				margin:0;
				color: #fff;  
				font-weight: 600;
				text-decoration: none;      
			}
		}
	}

	nav.navbar{
		.header-middle-bar{
			background: rgb(29,165,189);
			background: linear-gradient(90deg, rgba(29,165,189,1) 0%, rgba(22,124,142,1) 100%);	
		}
		
	}

} 

.woocommerce ul.products li.product a.tinvwl-button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list:before, .woocommerce-page ul.products li.product a.tinvwl-button.tinvwl-icon-heart.tinvwl_add_to_wishlist_button.tinvwl-product-in-list:before, a.wishlist_products_counter.top_wishlist-heart.wishlist-counter-with-products:before, span.wishlist_products_counter.top_wishlist-heart.wishlist-counter-with-products:before{
	content: url('../../uploads/heart.png') !important;
}

a.wishlist_products_counter span{
	display: block !important;
}
a.wishlist_products_counter{
	position: relative;
}
.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp{
	padding:0 !important;
	background: transparent !important;
}
.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{
	border-radius: $radius;
	padding:8px 24px 8px 48px;

	&::placeholder{
		color: #fff !important;
	}
}
.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit{
	top:8px;
}