.post-pagination-sn{
	.pagination{
		padding-top: 100px;


		div.nav-links{
		border:0;
		display: flex;
		margin-left: auto;   

			a,span{
				@include el-center;
				width:36px;
				height: 36px;
				border:1px solid $color-primary;
				border-radius: $radius;
				padding:0;
				margin:0;
				font-size: 14px;
				font-weight: 600;
				font-family: $main-font;
				transition: background 0.4s linear;
				text-decoration: none;
				margin:3px;

				&:hover{
					background: $color-primary;
					color: $text-color;     
				}
			}

			span.current{
				background: $gradient-dark;
				color: #fff;
			}
		
		}


	}
} 

.shadow-img-box{
	position: relative;
	.shadow-img-right{
		border-radius: 75px 0 75px 0; 
		height: 450px;
		width:100%;
		object-fit: cover;

		@include breakpoint('tablet'){
			height: 350px;
			border-radius: 45px 0 45px 0;
		}

		@include breakpoint('small'){
			height: 240px;
		}
	}

	.shadow-img-shadow-right{
		background: $gradient-light;
		height:80%;
		width:80%; 
		position: absolute;
		right:-15px;
		bottom:-15px;
		border-radius: 0 0 90px 0; 

		@include breakpoint('tablet'){
			
			border-radius: 0 0 60px 0;
		}
	}
}
.shadow-img-box{
	position: relative;
	.shadow-img-left{
		border-radius: 0 75px 0 75px; 
		height: 450px;
		width:100%;
		object-fit: cover;

		@include breakpoint('tablet'){
			height: 350px;
			border-radius: 0 45px 0 45px;
		}
		@include breakpoint('small'){
			height: 240px;
		}
	}

	.shadow-img-shadow-left{
		background: $gradient-light;  
		height:80%;
		width:80%; 
		position: absolute;
		left:-15px;
		bottom:-15px;
		border-radius: 0  0  0 90px;   

		@include breakpoint('tablet'){
			
			border-radius: 0 0  0 60px; 
		}
	}
}

.shadow-box-content{
	position: absolute;
	left:50px;
	bottom:50px;
	right:50px;
	z-index: 3;
	background: rgba(255,255,255,0.7);
	padding:40px; 

	h2{
		
		padding-bottom: 20px;
	}

	a.btn{
		min-width: 170px;
	}

	@include breakpoint('tablet'){
		left:30px;
		bottom:30px;
		right:30px;

		padding:25px;

		h2{
			font-size: 20px;
		}
	}
	@include breakpoint('small'){
		
	}
}