body.tinvwl-theme-style table td.product-action a.button, body.tinvwl-theme-style table td.product-action button{
	background: #fff !important;
	color: $text-color;
	box-shadow: inset 0px 0px 0px 2px rgba(22, 124, 142, 1);
	transition: background 0.3s;

    &:hover{
      background: $color-primary !important;

      span{
      	color: #fff !important;	
      }
      color: #fff !important;
    }
}
body.tinvwl-theme-style table td.product-action a.button span, body.tinvwl-theme-style table td.product-action button span{
	color:$text-color !important;
}
.button.tinv-next , .button.tinv-prev{
	span{
		color: #fff !important;
	}
}
main#primary{
	
  @include breakpoint('medium'){
    padding-top: 135px !important; 
  }

	@include breakpoint('small'){
		padding-top: 118px !important;    
	} 
}

@include breakpoint('medium'){
	.about-img-home{
		margin-right: 15px;
	}
}

@include breakpoint('small'){
	.tinv-wishlist tfoot .tinvwl-to-left+.tinvwl-to-right{
		button{
			width:100%;
			max-width: 100%;
		}
	}
	.tinv-wishlist .tinv-wishlist-clear{
		margin-bottom: 0;
	}
}
.wpgs-for .slick-arrow{
	border:0 !important;
	background: #fff;
	border:2px solid $color-primary !important;

	&::before{
		
		display: none;
	}

	&.flaticon-back::before{
		display: block;
		content:url(../../uploads/angle-left.svg);
		margin-top: -4px;
	}
	&.flaticon-right-arrow::before{
		display: block;
		content:url(../../uploads/angle-right.svg);
		margin-top: -4px;
		
	}

}
.woocommerce div.product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt, .woocommerce div.product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt{
	text-decoration: none;

}
.woocommerce div.product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt:before, .woocommerce div.product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before{
	transform:none !important; 
	position: static !important; 
}
