.shop_loop_image_wrap{
	height:300px;
	margin-bottom: 25px;

	img{
		max-height: 100%;
		width:50%;
		margin:auto; 
	} 
} 
.woocommerce-loop-product__title{
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
	margin-bottom: 15px;
}
li.product a{
	text-decoration: none;
}
.shop-loop-categories{
	margin-bottom: 10px;
	
	a{
		color: $color-primary;
	}
}
.shop-loop-price-rating{
	display: flex;
	justify-content: space-between;
	height: 68px;
}
.recent-products-sn , .recommended-products-sn{  
	list-style-type: none;
	padding:0;
	margin:0;
	.slick-list{
		margin-left: -20px;
		margin-right: -20px;

		li{
			margin:0 20px; 
			position: relative;

			.tinvwl_add_to_wishlist-text{
				display: none;
			}

			span.price{
				color: $color-primary ;
				font-size: 21px;
				font-weight: 700;


				bdi{
					color: $color-primary ;

					span{
						color: $color-primary ;

					}

				}

				del{
					font-size: 16px;
					color: $dark-grey;

					bdi,span{
						color: $dark-grey;
					}
				}
			}
		}

	}
}

.new-product-badge{
	border:2px solid $color-primary;
	border-radius: $radius;
	padding:10px 20px;
	color: $color-primary;
	font-weight: 700;
	height: 48px;
}

ul.products li.product{
	position: relative;
}

.tinv-wraper.tinv-wishlist{
	position: absolute;
	top:0;
	left:0;
	right:0;
	text-align: right;

	.tinvwl_add_to_wishlist_button{
		@include el-center;
		border-radius: 50%;
		width:40px;
		height: 40px;
		border:2px solid #1A202E;
		margin-left:auto;
		background: #fff;

		&::before{
			margin:0;
			font-size: 28px;
		}
	}

	.tinvwl-product-in-list{
		background: #C3F6FF;
		border-color: #C3F6FF;
	}
}

.woocommerce a.added_to_cart{
	display: none !important;
}

.woocommerce ul.products li.product a img{
	max-width: 100%;
	width:auto;
	margin:auto;  
}

.woocommerce ul.products li.product {
	.tinvwl_add_to_wishlist-text{
		display: none !important;   
	}
}

.loop-products-col{
	width:calc(100% - 360px); 
	@include breakpoint('medium'){
		width:100%;
		
	}
}

.angle-dropdown-cat button{
	background: transparent !important;
}
.shop-sidebar-sn{
	width:360px;
	padding-right: 30px;

	@include breakpoint('medium'){
		width:100%;
		padding:15px;
		margin-bottom: 10px;
	}

	@include breakpoint('small'){
		h2{
			display: none;
		}
		h3.berocket_ajax_group_filter_title{
			// display: none;
		}
	}
}

.shop-cat-banner-mobile{
	margin-bottom: 40px;
	.shop-cat-banner{
		position: relative;
		z-index: 2;
		min-height: 180px;  
		border-radius: 50px 0;
		padding:25px; 

	}

	.shop-cat-banner-inner{
		text-align: center;
		h1{
			margin-bottom: 15px;
		}
		.shop-cat-description{
			margin-bottom: 30px;
		}
	}

	.shop-cat-banner-shadow{
		background: $gradient-light;
		width:94%;
		height: 100%;
		position: absolute;
		right:-15px;
		bottom:-15px;
		border-radius: 60px 0; 

	}	
}

.shop-cat-banner-wrapper{
	margin-bottom: 70px;
	.shop-cat-banner{
		position: relative;
		z-index: 2;
		min-height: 240px;  
		border-radius: 100px 0;
		padding:50px 80px; 

		.shop-cat-banner-inner{
			max-width: 800px;
			h1{
				margin-bottom: 15px;
			}
		}

	}

	.shop-cat-banner-shadow{
		background: $gradient-light;
		width:94%;
		height: 100%;
		position: absolute;
		right:-5px;
		bottom:-15px;
		border-radius: 110px 0;

	}	
}
section.main-categories-filter{
	margin-bottom: 55px;
	.card-header{
		border-radius: 0 30px 30px 0;
	}
	.card-header:hover{
		background:#F1FAFB;
	} 

	.list-group-item{
		border:0;
		border-radius: 0 30px 30px 0;

		&:hover{
			background:#F1FAFB;
		}
	}
}
.bapf_sfilter{
	border-bottom: 1px solid $dark-grey;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price{
	padding-top: 10px;
}
.woocommerce ul.products li.product .price ins{
	text-decoration: none; 
}
