.s-post-meta{
	padding-bottom: 15px;
	a{
		text-decoration: none;
		color: $color-primary; 
	}
} 

.s-post-title h1{
	@include breakpoint('tablet'){
		font-size: 28px;
	}
	@include breakpoint('small'){
		font-size: 24px;
	}
}