// @font-face {
//   font-family: 'Gilmer';
//   src: url(../../fonts/Gilmer-Heavy.otf);
//   font-weight: 900;
// }

$main-font: 'Montserrat', sans-serif;
$color-primary: #167C8E;
$radius: 8px;

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
  

   @if $point == x-large { 
    @media (max-width: 1450px) { @content ; }
  }
   @else if $point == large { 
    @media (max-width: 1199px) { @content ; }
  }
   @else if $point == medium {
     @media (max-width: 991px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 767px) { @content ; }
  }
   @else if $point == small {
     @media (max-width: 576px)  { @content ; }
  }
  @else if $point == phone {
     @media (max-width: 460px)  { @content ; }

  }
}
 
