// @font-face {
//   font-family: 'Gilmer';
//   src: url(../../fonts/Gilmer-Heavy.otf);
//   font-weight: 900;
// }

$main-font: 'Montserrat', sans-serif;
$color-primary: #167C8E;
$radius: 8px;
$text-color: #222222;
$link-hover: #888;
$gradient-light: linear-gradient(90deg, rgba(29,165,189,1) 0%, rgba(22,124,142,1) 100%);
$gradient-dark: linear-gradient(90deg, rgba(26,32,46,1) 0%, rgba(5,59,69,1) 100%);
$light-grey:  #FBFAFA;
$dark-grey: #7C7C7C;
// $box-shadow: 0px 0px 38px -17px rgba(66, 68, 90, 0.52);
$box-shadow: 0px 0px 34px -11px rgba(86, 86, 97, 0.25); 
$green:#01A25F;
$color-primary-light: #F1FAFB;
$dark-blue: #1A202E;

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
  

  @if $point == x-large { 
    @media (max-width: 1450px) { @content ; }
  }
  @else if $point == large { 
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == medium {
     @media (max-width: 991px) { @content ; }
  }
  @else if $point == halfmedium {
     @media (max-width: 835px) { @content ; }
  }
  @else if $point == tablet {
     @media (max-width: 767px) { @content ; }
  }
  @else if $point == small {
     @media (max-width: 576px)  { @content ; }
  }
  @else if $point == phone {
     @media (max-width: 460px)  { @content ; }

  }
}
 
